@{
    ViewBag.Title = "Options";
}

<h1>Hello @Html.ActionLink(User.Identity.Name, "Manage", "Home", routeValues: null, htmlAttributes: new {title = "Manage" })!</h1>
        
<div class="well">
    <h3>Please select from one of the following options:</h3>

    <h4>@Html.ActionLink("Personnel", "CompleteEmployeeList", "Query") to view a list of all employees.</h4>

    <h4>@Html.ActionLink("Query", "Index", "Query") to view employees who meet your search criteria.</h4>

    <h4>@Html.ActionLink("Create", "Create", "Profile") to add a new employee.</h4>

    <h4>@Html.ActionLink("Pending", "Pending", "Profile") to manage a list of pending transactions.</h4>

    @using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken() 
                <h4><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a> to exit.</h4>
        }

</div>