@model HR_Query.Models.CreateEmployeeModel

@{
    ViewBag.Title = "Create";
}

<h1>Create a new employee.</h1>

<div class="well">

    <h3>Enter the following information:</h3>

    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl}))
    {
        @Html.AntiForgeryToken()
            
        <p>
            @Html.LabelFor(m => m.EmployeeFirstName)
            @Html.TextBoxFor(m => m.EmployeeFirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EmployeeFirstName, String.Empty, new { @class = "text-danger" })
        </p>
        
        <p>
            @Html.LabelFor(m => m.EmployeeLastName)
            @Html.TextBoxFor(m => m.EmployeeLastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EmployeeLastName, String.Empty, new { @class = "text-danger" })
        </p>
        
        <h3 id="departmentsHeader">Select a department:</h3>

        @Html.DropDownListFor(m => m.DepartmentsDropDownSelection, Model.DepartmentsDropDown, new { @class = "btn btn-default", @id = "departmentsResult" }) 
        <h5>@Html.ValidationMessageFor(m => m.DepartmentsDropDownSelection, String.Empty, new { @class = "text-danger" })</h5>
        
        <h3 id="locationsHeader">Select a location:</h3>

        @Html.DropDownListFor(m => m.LocationsDropDownSelection, Model.LocationsDropDown, new { @class = "btn btn-default", @id = "locationsResult" }) 
        <h5>@Html.ValidationMessageFor(m => m.LocationsDropDownSelection, String.Empty, new { @class = "text-danger" })</h5>
        
        <h3 id="positionTypeHeader">Select a position type:</h3>

        @Html.DropDownListFor(m => m.PositionTypeDropDownSelection, Model.PositionTypeDropDown, new { @class = "btn btn-default", @id = "positionTypeResult" }) 
        <h5>@Html.ValidationMessageFor(m => m.PositionTypeDropDownSelection, String.Empty, new { @class = "text-danger" })</h5>
           
        @Html.ValidationSummary(true, String.Empty, new { @class = "strong text-danger" })
        
        <button type="submit" class="btn btn-info">Submit</button>
    }
    <br />
    
    @Html.ActionLink("Return", "Options", "Home") to pick a new option.
                                                  
</div>

