@model HR_Query.Models.EmployeeProfileModel

@{
    ViewBag.Title = "Profile";
}

<h1>Employee Profile.</h1>

<div class="well">

    <h3>@Model.EmployeeFirstName @Model.EmployeeLastName</h3>

    <h3>@Model.DepartmentName</h3>

    <h3>@Model.LocationName</h3>

    <h3>@Model.PositionTypeName</h3>

@Html.ActionLink("Return", "Options", "Home") to pick a new option.
    
</div>
